/build/
/src/entornot3/Frame/InterfazMostrarClientes/ComprobarClienteCola/nbproject/private/
/src/entornot3/Frame/InterfazMostrarClientes/ComprobarClienteCola/build/
/src/entornot3/ComprobarClienteInterfaz/nbproject/private/
/src/entornot3/ComprobarClienteInterfaz/build/
