/build/
/src/entornot3/Frame/InterfazMostrarClientes/ComprobarClienteCola/nbproject/private/
/src/entornot3/Frame/InterfazMostrarClientes/ComprobarClienteCola/build/
/src/entornot3/ComprobarClienteInterfaz/nbproject/private/
/src/entornot3/ComprobarClienteInterfaz/build/
/src/entornot3/ClaseInterfaces/nbproject/private/
/src/entornot3/ClaseInterfaces/build/
/src/entornot3/Prieto_Cristian/nbproject/private/
/src/entornot3/Prieto_Cristian/build/
/src/entornot3/Prieto_Cristian/dist/
/src/entornot3/ComprobarClienteInterfaz/dist/
